@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Host Grotesk", sans-serif;
    background-color: black;
    background-image: url(assets/Noise.png), url(assets/Pattern.png);
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
    background-size: cover, 100%;
    /* background-attachment: fixed; */
    background-blend-mode: normal;
}
h1 {
    font-size: 56px;
    font-weight: 600;
    line-height: 79.52px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    max-width: 866px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.hero p {
    font-size: 18px;
    font-weight: 500;
    line-height: 25.56px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    max-width: 493px;
    margin: 0 auto;
}
.clock {
    width: 20px;
    height: 20px;
    margin-top: -.4rem;
}
.countdown {
    max-width: 428px;
    margin: 0 auto;
}
.countdown p {
    color:rgba(188, 235, 0, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 28.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.curved {
    top: -120%;
    left: auto;
    right: -120px;
    transform: translate(-50%, -50%);
    width: 100.5px;
    height: 103.5px;
}
/* .curved {
    
} */
.phone {
    background-image: url(assets/099.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
}
.baseImage {
    height: 523px;
}
.brightInside {
    top: 51.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 510px;
}
.brightInside1 {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
}
.image-stack {
    width: 300px;
    height: 400px;
    overflow: hidden;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-stack img {
    width: 100%;
}
.scroll-container {
    animation: scroll-vertical 30s linear infinite;
  }

  @keyframes scroll-vertical {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  .platform {
    transform: translate(-50%, -50%);
    bottom: -10%;
    left: 50%;
  }
  .platform img {
    height: 88px;
  }
  .comingSoon p {
    font-size: 100px;
    font-weight: 600;
    line-height: 141.99px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 0.1);
  }
  footer {
   border: 1px solid rgba(30, 30, 30, 1);
   background: rgba(30, 30, 30, 1); 
   bottom: 0;
  }
  .comm {
    background: rgba(188, 235, 0, 1);
    border: 1px solid rgba(188, 235, 0, 1);
    border-radius: 24px;
  }
  .sticky-top-md {
    position: sticky;
    bottom: 0; /* Define the sticky offset */
  }

  @media only screen and (max-width: 1199px) {
    .curved {
        right: -120px;
        left: auto;
    }
  }


  @media only screen and (max-width: 767px) {
    body {
        margin: 0;
        padding: 0;
        font-family: "Host Grotesk", sans-serif;
        background-color: black;
        background-image: url(assets/Noise.png), url(assets/Pattern.png), url(assets/083.png);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: center center, center center, center center;
        background-size: cover, cover, cover;
        /* background-attachment: fixed; */
        background-blend-mode: normal;
    }
    .logo {
        width: 95px;
        height: 40px;
    }
    h1 {
        font-size: 32px;
        line-height: 45.44px;
        max-width: 323px;
    }
    .hero p {
        font-size: 14px;
        margin-top: 19.88px;
        max-width: 300px;
    }
    .countdown {
        max-width: 280px;
        margin: 0 auto;
    }
    .curved {
        width: 40px;
        height: 60px;
        right: -45px;
        left: auto;
        top: -20px;
    }
    .clock {
        width: 20px;
        height: 20px;
        margin-top: -.2rem;
    }
    .platform img {
        height: 65px;
    }
    .comingSoon p {
        font-size: 40px;
        line-height: 51.99px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .sticky-top-md {
        position: static; /* Remove stickiness on smaller screens */
    }
    .phone {
        background-size: 100%;
    }
    .baseImage {
        height: 460px;
    }
    .brightInside {
        height: 447px;
    }
    .brightInside1 {
        top: 18%;
        width: 250px;
        height: 75px;
    }
    .scroll-container img {
        width: 90%;
    }
    .countdown p {
        color:rgba(188, 235, 0, 1);
        font-size: 13px;
        font-weight: 500;
        line-height: 18.46px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
  }